/* entry6.css */

body {
    background-image: url(/entry-6/images-e6/gluedpaper.jpg);
    background-size: cover;
}

/* Custom styles for arranging the layout */
section {
    position: relative;
    height: 100vh;
}

/* Style for the images */
section img {
    position: absolute;
    max-width: 20%; /* Adjust the width as needed */
    height: auto;
}

/* Additional styling to scatter the images */
section img {
    transform: translate(-50%, -50%);
}
