/*-------------------- CSS --------------------*/
*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
    ;
}
.container{
    width: 700px;
    height: 400px;
    display: flex;
}
.image-div{
    width: 60px;
    min-width: 60px;
    height: 100%;
    border-radius: 20px;
    border: 2px solid white;
    box-shadow: 0 0 10px #1115;
    overflow: hidden;
    transition: linear 0.5s;
    cursor: pointer;
    background-position: center;
    background-size: cover;
}
.c-1{
    background-image: url(img/img\ \(1\).jpg);
}
.c-2{
    background-image: url(img/img\ \(2\).jpg);
}
.c-3{
    background-image: url(img/img\ \(3\).jpg);
}
.c-4{
    background-image: url(img/img\ \(4\).jpg);
}
.c-5{
    background-image: url(img/img\ \(5\).jpg);
}

.active{
    width: 100%;
}