#image-container {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    overflow: hidden;
}

img {
    width: 50%;
    height: 50%;
    cursor: pointer;
}

